//Colors
$primary: #5ccfe6;
$secondary: #1f2430;
$tertiary: #ffcc66;

//Margins, width + Center
$center: 0 auto;
$mobile-width: calc(100vw - 32px);
$tablet-width: calc(100vw - 48px);
$desktop-width: calc(100vw - 320px);
$margin-small: 16px;
$margin-medium: 24px;
$margin-large: 32px;

//font-sizes
$tablet-p: 1.5em;
$tablet-h1: 2.5em;
$tablet-h3: 1.5em;

//breakpoints
@mixin medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1080px) {
    @content;
  }
}

@mixin very-large {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
